*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

.main{
    margin: 20px auto;
    max-width: 1100px;
    background-color: bisque;
    padding: 30px 2%;
}

.main h2{
    text-align: center;
    font-size: 44px;
    color: #2b8bab;
    text-shadow: 0 0 0.2em #68c852, 0 0 0.2em #68c852
    ;
}
